<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui horizontal inverted small divided link list">
            <img src="/images/logo.png" class="ui centered mini image" style="height: 75px;width: auto">
            <a class="item" href="/">Home</a>
            <a class="item" href="/login2">Admin</a>
            <a class="item" target="_blank" href="https://github.com/MushroomLin/2720_final_project">Project Page</a>
            <a class="item" href="#">CSCI2720 Group30</a>
        </div>
    </div>
</div>

</body>
</html>

